
* {
    margin: 0;
    padding: 0;
}

/* Styling navigation bar */
nav {
    background-color: #430606; /* Dark background color */
    padding: 10px 0; /* Some padding */
}

nav ul {
    list-style-type: none;
    text-align: center; /* Center align the list items */
}

nav ul li {
    display: inline;
    margin: 0 10px; /* Add some space between list items */
}

nav ul li a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Styling container */
.container {
    text-align: center; /* Center align the content */
    margin-top: 20px; 
}

.container h1 {
    font-size: 24px; /* Larger font size for heading */
    margin-bottom: 10px; 
}

.container p {
    margin-bottom: 20px; /* Add some space below paragraphs */
}

.container img {
    width: 100%; 
    max-width: 400px; 
    
    margin-bottom: 20px;
}
